.contentProduct{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem 0rem;
    // border-bottom: 1px solid #ffffff;
    .contentProduct_div_image{
        margin-right: 1.5rem;
        .contentProduct_div_img{
            width: 5rem;
        }
        .contentProduct_div_span{
            background-color: #000000;
            color: #ffffff;
            padding: 0.3rem 0.5rem;
            font-size: 0.8rem;
            text-align: center;
            margin-left: -1rem;
            font-weight: 700;
            border-radius: 1rem;
        }
    }
    .contentProduct_div_text{
        margin-right: 1.5rem;
        width: 15em;
        .contentProduct_div_h2{
            text-transform: uppercase;
            font-size: 1rem;
        }
        .contentProduct_div_p{
            font-size: 0.8rem;
    
        }
    }
    .contentProduct_p{
        font-weight: 700;
    }
}
.contentProduct:last-child{
    border: none;
}