.cartOpen{
    position: fixed;
    background-color: #ffffff;
    width: 25rem;
    height: 100%;
    top: 0rem;
    right: -1rem;
    opacity: 1;
    z-index: 3;
    left: auto;
    padding: 1rem 0rem 1rem 1rem;
    transition: right 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
    overflow: hidden;
    @media(max-width: 992px){
        width: 60%;
    }
    @media(max-width: 576px){
        width: 90%
    }
    .cart_close{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        border-bottom: 1px solid #eeeeee;
        padding-right: 2rem;
        height: 4%;
        p{
            font-size: 0.8rem;
            cursor: pointer;
        }
        p:hover{
            text-decoration: underline;
            @media(max-width: 992px){
                text-decoration: none;
            }
        }
    }
    .cart_shipping{
        display: flex;
        align-items: center;
        padding: 0rem 2rem 0rem 1rem;
        border-bottom: 1px solid #eeeeee;
        height: 5%;
        p{
            font-size: 0.8rem
        }
    }
    .cart_products{
        height: 76%;
        overflow: auto;
    }
    .cart_subtotal{
        display: flex;
        align-items: center;
        height: 5%;
        border-bottom: 0.12rem solid #eeeeee;
        border-top: 0.12rem solid #eeeeee;
        padding: 0rem 2rem 0rem 1rem;
        margin-top: 1rem;
        .cart_subtotal_p{
            font-size: 0.8rem;
        }
    }
    .cart_checkout{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        padding: 0rem 2rem 0rem 1rem;
        a{
            width: 100%;
            .cart_checkout_button{
                justify-content: center;
                font-size: 0.8rem;
                background-color: #000000;
                border: none;
                padding: 1rem;
                width: 100%;
                transition: all 0.2s linear;
                color: #ffffff;
                font-weight: bold;
                box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
                cursor: pointer;
            }
            .cart_checkout_button:active{
                transform: scale(.95);
                transition: all 0.1s linear; 
                @media(max-width: 992px){
                    transform: scale(.95);
                }
            }
        }
    }
    .cart_empty{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.cartClose{
    @extend .cartOpen;
    right: -100%;
    opacity: 0;   
}