.cartOpen{
    position: fixed;
    background-color: #ffffff;
    width: 25rem;
    height: 100%;
    top: 0rem;
    right: 0rem;
    opacity: 1;
    z-index: 3;
    left: auto;
    padding: 1rem;
    transition: right 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
    @media(max-width: 992px){
        width: 50%;
    }
    @media(max-width: 576px){
        width: 80%
    }
    .cart_close{
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 1rem;
        p{
            font-size: 0.8rem;
            cursor: pointer;
        }
    }
    .cart_shipping{
        display: flex;
        padding: 1rem;
        border-bottom: 1px solid #eaeaea;
        p{
            font-size: 0.8rem
        }
    }
    .cart_empty{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.cartClose{
    @extend .cartOpen;
    right: -100%;
    opacity: 0;   
}