.cartNavbar{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    .cartNavbar_p{
        font-size: 0.8rem;
        padding: 1.5rem 1rem;
        cursor: pointer;
    }
    .cartNavbar_p:hover{
        text-decoration: underline;
    }
}