.orderStatus{
    width: 50%;
    background-image: url('../Img/Clothes.png');
    @media(max-width: 992px){
        width: 100%;
    }
    .orderStatus_div{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .orderStatus_div_h2{
            color: #eeeeee;
            margin-bottom: 1rem;
            font-size: 2rem;
        }
        .orderStatus_div_p{
            color: #eeeeee;
            font-size: 1rem;
            margin-bottom: 5rem;
            font-weight: 600;
        }
        button{
            border-radius: 0.25rem;
            padding: 1rem;
        }
    }
}