.productSizes{
    display: flex;
    justify-content: flex-start;
    transition: all 0.1s linear; 
    margin-bottom: 2.5rem;
    .productSizes_button{
        font-size: 0.8rem;
        width: 2.5rem;
        height: 2.5rem;
        background-color: none;
        border: 1px solid #000000;
        margin-right: 1rem;
        cursor: pointer;
    }
    .productSizes_button:active{
        transform: scale(.95);
    }
    .productSizes_p{
        font-size: 0.8rem;
    }
}