.secretDiscount{
    background-color: #000000;
    padding-top: 8rem;
    text-align: center;
    .secretDiscount_h2{
        color: #ffffff;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .secretDiscount_p{
        color: #ffffff;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .secretDiscount_div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        .secretDiscount_div_h1{
            position: absolute;
            color: #ffffff;
            opacity: 0.5;
            padding: 0.5rem;
            font-size: 5rem;
            background-color: #000000;
        }
        .secretDiscount_div_img{
            width: 100%;
            height: 50rem;
            margin: 4rem 0rem 5rem 0rem;
        }
    }
}