.product_list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .product_list_div {
    width: 25%;
    text-align: center;
    background-color: #eeeeee;
    border-right: 0.12rem solid #ffffff;
    border-bottom: 0.12rem solid #ffffff;
    @media (max-width: 992px) {
      width: 50%;
    }
    @media (max-width: 576px) {
      width: 100%;
    }
  }
}
