.cartItem{
    display: flex;
    margin-top: 1.5rem;
    padding: 0rem 1rem 1.5rem 0rem;
    border-bottom: 0.12rem solid #eeeeee;
    .cartItem_image{
        margin-right: 0.5rem;
        .cartItem_image_img{
            width: 8rem;
            border-radius: 0.25rem;
        }
    }
    .cartItem_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        .cartItem_content_div{
            .cartItem_content_div_h3{
                font-size: 0.8rem;
                margin-bottom: 0.5rem;
            }
            .cartItem_content_div_p{
                @extend .cartItem_content_div_h3;
            }
        }
        .cartItem_content_delete{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            .cartItem_content_delete_p{
                font-size: 0.8rem;
                text-align: right;
                cursor: pointer;
            }
            .cartItem_content_delete_p:hover{
                text-decoration: underline;
                @media(max-width: 992px){
                    text-decoration: none;
                }
            }
        }
    }
}