.albums{
    text-align: center;
    padding-top: 5rem;
    background: linear-gradient(to top, #131313, #494949);
    @media(max-width: 992px){
        padding-bottom: 0rem;
    }
    .albums_div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        @media(max-width: 992px){
            flex-direction: column;
        }
        .albums_div_h2{
            color: #eeeeee;
            margin-right: 1rem;
            @media(max-width: 992px){
                margin: 0rem 1rem 1rem 1rem;
            }
        }
        .albums_div_img{
            width: 1.5rem;
            height: 1.5rem;
            @media(max-width: 992px){
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
}