.outfitsLink{
    height: 100%;
    &:hover > .outfitsLink_content{
        display: flex;
        opacity: 1;
        visibility: visible;
    }
    .outfitsLink_a{
        text-decoration: none;
        color: #000000;
        .outfitsLink_a_li{
            font-size: 0.8rem;
            cursor: pointer;
            padding:  1.5rem 1rem;
            height: 100%;
        }
        &:hover{
            text-decoration: underline;
            @media(max-width: 992px){
                text-decoration: none;
            }
        }
    }
    .outfitsLink_content{
        display: none;
        opacity: 0;
        z-index: 2;
        justify-content: center;
        position: fixed;
        visibility: hidden;
        width: 100%;
        left: 0rem;
        background-color: #EEEEEE;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }
}