.form{
    padding: 5rem 1.5rem 0rem 1.5rem;
    width: 50%;
    background-image: url('../Img/Clothes.png');
    @media(max-width: 992px){
        width: 100%;
    }
    .form_h2{
        border-top: 0.12rem solid #eeeeee;
        padding: 2.5rem 0rem 0rem 1rem;
        color: #eeeeee;
        @media(max-width: 992px){
            text-align: center;
            padding: 2.5rem 0rem 0rem 0rem;
        }
        @media(max-width: 576px){
            font-size: 1rem;
        }
    }
    form{
        width: 100%;
        margin: auto;
        display: flex;
        align-items: flex-start;
        padding-bottom: 2.5rem;
        @media(max-width: 992px){
            border: none;
        }
        @media(max-width: 576px){
            flex-direction: column;
            border: none;
            padding-bottom: 3rem;
        }
        div{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media(max-width: 576px){
                width: 100%;
            }
            label{
                width: 90%;
                margin-top: 2rem;
                box-shadow: rgb(0 0 0 / 5%) 0px 2px 4px;
                @media(max-width: 576px){
                    width: 100%;
                }
                div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    background-color: #eeeeee;
                    width: 100%;
                    border-top-right-radius: 0.25rem;
                    border-top-left-radius: 0.25rem;
                    p{
                        font-size: 0.8rem;
                        padding: 0.5rem;
                    }
                    .required{
                        font-size: 0.8rem;
                        color: #ff0000;
                        background: none;
                    }
                }
                input{
                    width: 100%;
                    height: 3rem;
                    padding: 0rem 0.5rem;
                    border-radius: 0.25rem;
                    border: none;
                    background-color: #eeeeee;
                    border-radius: 0rem 0rem 0.25rem 0.25rem;
                }
            }
            .button{
                margin: auto;
                margin-top: 4rem;
                @media(max-width: 576px){
                    margin-top: 2rem;
                }
                button{
                    width: 100%;
                    padding: 1rem 0rem;
                    font-size: 0.8rem;
                    font-weight: 700;
                    border-radius: 0.25rem;
                    border: none;
                    background-color: #000000;
                    color: #eeeeee;
                    box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
                    transition: all 0.1s linear;
                    cursor: pointer;
                }
                button:active{
                    transform: scale(.95);
                    transition: all 0.1s linear; 
                }
                .disabled{
                    text-align: center;
                    font-weight: 700;
                    width: 100%;
                    opacity: 0.6;
                }
                .disabled:active{
                    transform: scale(1);
                }
            }
        }
    }
    .form_a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: #eeeeee;
        width: 7rem;
        margin: 0rem auto;
        .form_a_p{
            font-size: 0.8rem;
            font-weight: 700;
            text-align: center;
        }
    }
    .form_border{
        padding-bottom: 2.5rem;
        border-bottom: 0.1rem solid #eeeeee;
        @media(max-width: 992px){
            border: none;
            padding-bottom: 5rem;
        }
        @media(max-width: 992px){
            padding-bottom: 4rem;
        }
    }
}