.MenuResponsiveLink{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .MenuResponsiveLink_img{
        width: 5rem;
    }
    .MenuResponsiveLink_p{
        font-size: 1rem;
        padding: 0rem 1rem;
        font-weight: 700;
    }
    .boxShadow{
        box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
    }
    &:last-child{
        margin-bottom: 0rem;
    }
}