.primaryButton{
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: 0.1rem solid #000000;
    box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
    transition: all 0.2s linear; 
    cursor: pointer;
}
.primaryButton:hover{
    background-color: #000000;
    color: white;
    @media(max-width: 992px){
        background-color: #eeeeee;
        color: #000000;
    }
}
.primaryButton:active{
    transform: scale(.95);
    transition: all 0.2s linear; 
} 