.imageLink{
    text-decoration: none;
    color: #000000;    
    transition: all 0.2s linear; 
    text-align: center;
    margin: 1rem 0rem;
    &:hover{
        transform: scale(1.05);
        transition: all 0.2s linear;
    }   
    &:active{
        transform: scale(.995);
        transition: all 0.2s linear; 
    } 
    .imageLink_img{
        width: 10rem;
        height: 10rem;
        margin: 0rem 0.25rem;
    }
    .imageLink_p{
        font-size: 0.8rem;
        font-weight: 700;
    }
    .boxShadow{
        border: 1px solid lightgray;
        box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
    }
}