.image_link {
  text-decoration: none;
  color: #000000;
  transition: all 0.2s linear;
  text-align: center;
  margin: 1rem 0rem;
  &:hover {
    transform: scale(1.05);
    transition: all 0.2s linear;
  }
  &:active {
    transform: scale(0.995);
    transition: all 0.2s linear;
  }
  .image_link_img {
    width: 9.5rem;
    height: 9rem;
    margin: 0rem 0.25rem;
  }
  .outfit_image {
    width: 10rem;
    height: 12rem;
    margin: 0rem 0.5rem;
    border: 1px solid lightgray;
    box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
  }
  .image_link_p {
    font-size: 0.8rem;
    font-weight: 700;
  }
}
