.secret_discount {
  background-color: #000000;
  text-align: center;
  min-height: 100vh;
  background-image: url("../../Assets/Images/Ocean.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .secret_discount_div {
    display: flex;
    position: inherit;
    flex-direction: column;
    background-color: #000000;
    padding: 8rem 4rem 4rem 4rem;
    @media (max-width: 992px) {
      padding: 8rem 2rem 2rem 2rem;
    }
    @media (max-width: 576px) {
      padding: 8rem 1rem 2rem 1rem;
    }
  }
  .secret_discount_div_h2 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    @media (max-width: 992px) {
      font-size: 2rem;
    }
  }
  .secret_discount_div_h3 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    @media (max-width: 992px) {
      font-size: 1rem;
    }
  }
  .secret_discount_div_p {
    color: #ffffff;
    font-size: 1rem;
    @media (max-width: 992px) {
      font-size: 0.8rem;
    }
  }
  .secret_discount_img {
    // margin-top: -8rem;
    //
    width: 100%;
    height: 100%;
  }
  // .secretDiscount_h2{
  //     color: #ffffff;
  //     font-size: 2.5rem;
  //     margin-bottom: 2.5rem;
  // }
  // .secretDiscount_p{
  //     color: #ffffff;
  //     font-size: 1rem;
  //     margin: 0rem 1rem 1rem 1rem;
  // }
  // .secretDiscount_div{
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     margin: auto;
  //     width: 100%;
  //     .secretDiscount_div_h2{
  //         position: absolute;
  //         color: #ffffff;
  //         padding: 0.5rem;
  //         font-size: 3rem;
  //         background-color: #000000;
  //         @media(max-width: 992px){
  //             font-size: 2rem;
  //         }
  //     }
  //     .secretDiscount_div_img{
  //         width: 100%;
  //         height: 50rem;
  //         margin-top: -1rem;
  //         @media(max-width: 992px){
  //             height: 40rem;
  //         }
  //         @media(max-width: 576PX){
  //             height: 30rem;
  //         }
  //     }
  // }
}
