.productDetail_content{
    width: 50%;
    padding: 6rem 1rem 0rem 1rem;
    text-align: left;
    @media(max-width: 992px){
        width: 90%;
        padding: 0rem 1rem 0rem 1rem;
    }
    .productDetail_content_h1{
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .productDetail_content_p{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}
.productDetail_content_description{
    margin-bottom: 2rem;
    .productDetail_content_description_p{
        margin-bottom: 1.5rem;
        font-size: 1rem;
        width: 100%;
    }
}
.productDetail_content_shipping{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #000000;
    width: 26rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    @media(max-width: 576px){
        width: 100%;
    }
    .productDetail_content_shipping_img{
        margin-right: 0.5rem;
    }
    .productDetail_content_shipping_p{
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-transform: uppercase;
    }
}