.productSizes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.1s linear; 
    margin-bottom: 1rem;
    @media(max-width: 992px){
        margin-bottom: 0rem;
    }
    .productSizes_buttons{
        display: flex;
        @media(max-width: 992px){
            justify-content: center;
        } 
    }
    .productSizes_clear{
        display: flex;
        @media(max-width: 992px){
            justify-content: center;
        } 
        .productSizes_clear_p{
            margin-top: 1rem;
            font-size: 0.8rem;
            cursor: pointer;
        }
    }
}
.unique{
    button{
        width: 8rem;
        padding: 0.8rem 0rem;
        margin-right: 0rem;
    }
}