.productImages{
    width: 50%;
    padding: 0rem 1rem;
    @media(max-width: 992px){ 
        width: 100%;
    }
    
    .productImages_rest{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        .productImages_rest_img{
            z-index: 0;
            width: 5rem;
            height: 5rem;
            margin: 0rem 0.5rem 1rem 0.5rem;
            border: 1px solid lightgray;
            box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
            cursor: pointer;
        }
    }
    .productImages_main{
        .productImages_main_img_first{
            width: 100%;
            margin-top: -4rem;
            z-index: 0;
            @media(max-width: 576px){
                margin-top: 0rem;
            }
        }
        .productImages_main_image{
            display: flex;
            justify-content: center;
            margin: auto;
            width: 90%;
            @media(max-width: 992px){
                margin-bottom: 5rem;
            }
        }
        
    }
}