.masterpieces{
    padding: 5rem 0rem;
    background-color: #eeeeee;
    .masterpieces_h2{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 5rem;
    }
    .masterpieces_div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        background-color: #eeeeee;
        border-top: 1px solid white;
        border-left: 0.12rem solid white;
    }
    .masterpieces_button{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
}