.slider {
  padding: 5rem 0rem;
  background-color: #eeeeee;
  overflow-x: hidden;
  .slider_container {
    display: flex;
    .slider_container_div {
      margin: 0rem 0.5rem;
      .slider_container_div_img {
        border: 1px solid lightgray;
        box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
        width: 25rem;
        height: 30rem;
        pointer-events: none;
        @media (max-width: 576px) {
          width: 20rem;
          height: 25rem;
        }
      }
    }
  }
}
