.newsletter{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media(max-width: 992px){
        width: 100%;
    }
    .newsletter_h3{
        font-weight: 700;
        font-size: 1rem;
        text-align: left;
        margin-bottom: 0.5rem;
    }
    .newsletter_p{
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    .newsletter_div{
        .newsletter_div_form{
            .newsletter_div_form_input{
                border: none;
                padding: 0.5rem;
                background-color: #eeeeee;
                border-radius: 0.25rem;
                margin-right: 0.5rem;
            }
            .newsletter_div_form_button{
                background-color: #ffffff;
                border: 1px solid #000000;
                box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
                border-radius: 0.25rem;
                padding: 0.5rem;
                font-weight: 500;
                cursor: pointer;
            }
            .newsletter_div_form_button:active{
                transform: scale(.95);
                transition: all 0.1s linear; 
            }
        }
    }
    .newsletter_suscribed{
        background: #d2e4c4;
        color: #307a07;
        padding: 1rem;
        border-radius: 0.25rem;
    }
    .newsletter_suscribed_p{
        font-size: 0.8rem;
    }
}