.overlay{
    position: absolute;
    left: 0rem;
    height: 200vh;
    width: 200vh;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    background: #363636;
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
}

.visible{
    opacity: 0.5;
    visibility: visible;
}