.product {
  width: 100%;
  padding-bottom: 1rem;
  .product_img {
    width: 100%;
  }
  .product_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
    .product_div_h2 {
      font-size: 0.8rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }
    .product_div_p {
      font-size: 0.8rem;
    }
  }
  .product_sizes {
    display: none;
    height: 4rem;
    .product_sizes_p {
      display: flex;
      align-items: flex-start;
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
      font-weight: 700;
    }
  }
  &:hover {
    padding-bottom: 0rem;
    @media (max-width: 992px) {
      padding-bottom: 1rem;
    }
  }
  &:hover > .product_sizes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 992px) {
      display: none;
    }
  }
  &:hover > .product_div {
    display: none;
    @media (max-width: 992px) {
      display: flex;
    }
  }
}
