.orderInfo{
    padding: 5rem 1.5rem 5rem 1.5rem;
    min-height: 100%;
    width: 50%;
    background-color: #eeeeee;
    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
    @media(max-width: 992px){
        width: 100%;
    }
    .orderInfo_products{
        border-top: 0.1rem solid #ffffff;
        border-bottom: 0.1rem solid #ffffff;
        padding: 2rem 0rem;
        .orderInfo_products_h2{
            margin-bottom: 2.5rem;
            @media(max-width: 992px){
                text-align: center;
            }
            @media(max-width: 576px){
                font-size: 1rem;
            }
        }
    }
    .orderInfo_total{
        padding-top: 2rem;
        @media(max-width: 992px){
            border-bottom: 0.1rem solid #ffffff;
        }
        .orderInfo_total_p{
            font-weight: 700;
            margin-bottom: 1.5rem;
            @media(max-width: 576px){
                text-align: center;
            }
        }
    }
}