.content{
    padding: 8rem 1.5rem 5rem 1.5rem;
    height: 70rem;
    width: 50%;
    background-color: #eeeeee;
    @media(max-width: 992px){
        width: 100%;
        padding: 5rem 1.5rem 5rem 1.5rem;
        height: 100%;
    }
    .content_products{
        height: 100%;
        max-height: 33rem;
        min-height: 36rem;
        overflow-y: hidden;
        border-top: 0.1rem solid #ffffff;
        border-bottom: 0.1rem solid #ffffff;
        @media(max-width: 992px){
            overflow-y: scroll;
            min-height: 1rem;
            padding: 1rem 0rem;
        }
        .content_products_div{
            display: flex;
            position: absolute;
            background-color: white;
            border-radius: 1rem;
            padding: 0.5rem;
            margin: 30rem 0rem 0rem 12rem;
            opacity: 0;
            transition: all 0.2s linear;
            @media(max-width: 992px){
                opacity: 0.5;
                margin: 28rem 0rem 0rem 5rem;
            }
            .content_products_div_p{
                font-size: 0.8rem;
                font-weight: 700;
                margin-right: 0.5rem;
            }
            .content_products_div_img{
                width: 1rem;
            }
        }
    }
    .content_products:hover{
        overflow-y: scroll;
    }
    .content_products:hover > .content_products_div{
        opacity: 0.5;
        transition: all 0.2s linear;
    }
    .content_coupon{
        padding: 1rem 0rem;
        border-bottom: 1px solid #ffffff;
        @media(max-width: 992px){
            padding: 2rem 0rem;
        }
    }
    .content_subTotal{
        padding: 1rem 0rem;
        border-bottom: 1px solid #ffffff;
        @media(max-width: 992px){
            padding: 2rem 0rem;
        }
        .content_subTotal_p{
            margin-bottom: 0.5rem;
        }
        .content_subTotal_p:last-child{
            margin-bottom: 0rem;
        }
        .content_subTotal_withDiscount{
            text-decoration: line-through;
        }
        .content_subTotal_discount{
            padding-bottom: 1.5rem;
        }
    }
    .content_total{
        padding: 1rem 0rem;
        font-weight: 700;
        border-bottom: 1px solid #ffffff;
        @media(max-width: 992px){
            padding: 2rem 0rem;
        }
    }
}