.essentialOutfit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
    @media(max-width: 992px){
        border-bottom: 0.2rem solid #eeeeee;
        flex-direction: column-reverse;
    }
    .essentialOutfit_products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        @media(max-width: 992px){
            width: 100%;
            margin-bottom: 5rem;
        }
        .essentialOutfit_products_h2{
            margin-bottom: 5rem;
            font-size: 2rem;
        }
        .essentialOutfit_products_div{
            display: flex;
            justify-content: center;
            border-left: 0.12rem solid #ffffff;
            @media(max-width: 576px){
               flex-direction: column;
            }
            .product{
                width: 33.3%;
                @media(max-width: 992px){
                   width: 100%;
                 }
                .product_div{
                    flex-direction: column;
                    @media(max-width: 576px){
                        flex-direction: row;
                    }
                    .product_div_h2{
                        margin-right: 0rem;
                        @media(max-width: 576px){
                            margin-right: 0.25rem;
                        }
                    }
                }
            }
        }

    }
    .essentialOutfit_buttons{
        margin-top: 5rem;
        @media(max-width: 576px){
           display: flex;
           flex-direction: column;
        }
        .essentialOutfit_buttons_button:first-child{
            margin-right: 2.5rem;
            @media(max-width: 576px){
                margin: 0rem 0rem 2.5rem 0rem;
            }
        }
        .essentialOutfit_buttons_button{
            justify-content: center;
            font-size: 0.8rem;
            background-color: #ffffff;
            border: 1px solid #000000;
            box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
            padding: 0.5rem 1rem;
            transition: all 0.2s linear; 
            cursor: pointer;
        }
        .essentialOutfit_buttons_button:hover{
            transform: scale(1.05);
            @media(max-width: 992px){
                transform: scale(1);
            }
        }
        .essentialOutfit_buttons_button:active{
            transform: scale(.995);
            transition: all 0.1s linear; 
            @media(max-width: 992px){
                transform: scale(.95);
            }
        }
    }
    .essentialOutfit_image{
        width: 50%;
        @media(max-width: 992px){
            width: 100%;
            margin-bottom: 5rem;
        }
        img{
            width: 100%;
        }
    }
}

.left{
    flex-direction: row-reverse;
    @media(max-width: 992px){
        flex-direction: column-reverse;
    }
}

.left:last-child{
    margin: 0rem;
}