.essentialOutfit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
    @media(max-width: 992px){
        border-bottom: 0.2rem solid #eeeeee;
        flex-direction: column-reverse;
    }
    .essentialOutfit_products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        @media(max-width: 992px){
            width: 100%;
            margin-bottom: 5rem;
        }
        .essentialOutfit_products_h2{
            margin-bottom: 5rem;
            font-size: 2rem;
        }
        .essentialOutfit_products_div{
            display: flex;
            justify-content: center;
            border-left: 0.12rem solid #ffffff;
            @media(max-width: 576px){
               flex-direction: column;
            }
            .product{
                width: 33.3%;
                @media(max-width: 992px){
                   width: 100%;
                }
                .product_div{
                    flex-direction: column;
                    .product_div_h2{
                        margin-right: 0rem;
                        @media(max-width: 576px){
                            margin-right: 0.25rem;
                        }
                    }
                }
            }
            .product:hover > .product_sizes{
                display: none;
            }
            .product:hover > .product_div{
                display: flex;
            }
        }
    }
    .essentialOutfit_button{
        display: flex; 
        margin-top: 5rem;     
        button{
            background-color: #ffffff;
        }   
        button:hover{
            background-color: #000000;
        }
    }
    .essentialOutfit_image{
        width: 50%;
        @media(max-width: 992px){
            width: 100%;
            margin-bottom: 5rem;
        }
        .essentialOutfit_image_img{
            width: 100%;
            @media(max-width: 992px){
                box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
            }
        }
    }
}

.left{
    flex-direction: row-reverse;
    @media(max-width: 992px){
        flex-direction: column-reverse;
    }
}

.left:last-child{
    margin: 0rem;
}