.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
    box-shadow: 0 4px 10px -10px rgb(0 0 0 / 60%);
}