.about{
    padding: 10rem 0rem 0rem 0rem;
    .about_content{
        display: flex;
        justify-content: center;
        padding-bottom: 5rem;
        @media(max-width: 768px){
            flex-direction: column;
            align-items: center;
            padding-bottom: 0rem;
        }
        .about_content_div{
            text-align: center;
            width: 50%;
            @media(max-width: 768px){
                width: 100%;
                margin-bottom: 5rem;
            }
            .about_content_h2{
                font-size: 1.5rem;
                margin-bottom: 2.5rem;
                animation: fadein 1s ease-in-out;
            }
            .about_content_p{
                width: 80%;
                line-height: 1.4rem;
                margin: auto;
                font-size: 1rem;
                margin-bottom: 1rem;
                animation: fadein 1s ease-in-out;
            }
        }
    }
    .about_p{
        font-size: 1rem;
        margin-bottom: 5rem;
        text-align: center;
        animation: fadein 1s ease-in-out;
        @media(max-width: 768px){
           margin: 0rem 1rem 5rem 1rem;
        }
    }
    .about_img{
        width: 100%;
        animation: fadein 1s ease-in-out;
    }
}

@keyframes fadein {
    0%{opacity: 0;}
    100%{opacity: 1;}
}