.about{
    padding: 8rem 0rem 0rem 0rem;
    min-height: 100vh;
    .about_content{
        display: flex;
        justify-content: center;
        padding-bottom: 5rem;
        @media(max-width: 768px){
            flex-direction: column;
            align-items: center;
            padding-bottom: 0rem;
        }
        .about_content_div{
            text-align: center;
            width: 50%;
            @media(max-width: 768px){
                width: 100%;
                margin-bottom: 5rem;
            }
            .about_content_h2{
                font-size: 1.5rem;
                margin-bottom: 2.5rem;
            }
            .about_content_p{
                width: 80%;
                line-height: 1.4rem;
                font-size: 1rem;
                margin: auto;
            }
        }
    }
    .about_p{
        font-size: 1.5rem;
        margin: 0rem 1rem 5rem 1rem;
        text-align: center;
        font-style: italic;
    }
    .about_img{
        width: 100%;
    }
}