nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem 0rem 1rem;
    box-shadow: 0 4px 10px -10px rgb(0 0 0 / 60%);
    ul{
        width: 35%;
        list-style-type: none;
        display: flex;
        li{
            font-size: 0.8rem;
            padding:  1.5rem 1rem;
            cursor: pointer;
        }
        li:hover{
            text-decoration: underline;
        }
    }
}