.outfit_products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: 768px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-y: scroll;
  }
  .outfit_products_img {
    width: 15rem;
    margin: 0rem 0.5rem;
    cursor: pointer;
  }
}
.outfit_products_loading {
  padding: 2.5rem 0rem 3rem 0rem;
  .outfit_products_loading_img {
    width: 10rem;
    display: flex;
    justify-content: center;
    margin: auto;
    animation: fadeinout 4s infinite;
  }
  @keyframes fadeinout {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
