.addToCart{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2.5rem;
    @media(max-width: 576px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .addToCart_div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        background-color: #eeeeee;
        @media(max-width: 576px){
            margin: 2.5rem 0rem;
        }
        .addToCart_div_span{
            font-size: 1rem;
            cursor: pointer;
            transition: all .15s linear; 
            margin: 1rem 2rem;
            &:active{
                transform: scale(.8);
            }
        }
    }
    .addToCart_button{
        font-size: 0.8rem;
        font-weight: 700;
        padding: 0.5rem 1rem;
        border: none;
        color: #eeeeee;
        background-color: #000000;
        transition: all .15s linear;  
        cursor: pointer;
        @media(max-width: 576px){
            padding: 1rem;
        }
        &:active{
            transform: scale(.95);
            transition: all .1s linear;
        }
    }
    .addToCart_buttonDisabled{
        opacity: 0.5;
        font-size: 0.8rem;
        font-weight: 700;
        padding: 0.5rem 1rem;
        border: none;
        color: #eeeeee;
        background-color: #000000;
        cursor: pointer;
        @media(max-width: 576px){
            padding: 1rem;
        }
    }
}