.coupon{
    font-weight: 500;
}
.formLoader{
    background-color: #ffffff;
    text-align: center;
    width: 8rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0rem;
    animation: fadeinout 4s infinite; 
    @media(max-width: 576px){
        margin: auto;
    }
    .formLoader_img{
        width: 6rem;
    }
}
@keyframes fadeinout{
    0%{opacity:0;}
    50%{opacity:1;}
    100%{opacity:0;}
}
.coupon_form{
    @media(max-width: 576px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .coupon_form_input{
        width: 20rem;
        border: none;
        border-radius: 0.25rem;
        padding: 0.8rem 0.5rem;
        margin-right: 1.5rem;
        @media(max-width: 576px){
            margin: 0rem 0rem 1rem 0rem;
            width: 90%;
        }
    }
    .coupon_form_button{
        font-weight: 700;
        padding: 0.8rem 1.5rem;
        justify-content: center;
        font-size: 0.8rem;
        background-color: #eeeeee;
        border: 1px solid #000000;
        border-radius: 0.25rem;
        transition: all 0.1s linear;
        cursor: pointer;
    }
    .coupon_form_button:hover{
        background-color: black;
        color: #ffffff;
    }
    .coupon_form_button:active{
        transform: scale(.95);
    }
    .coupon_form_buttonDisabled{
        font-weight: 700;
        padding: 0.8rem 1.5rem;
        justify-content: center;
        font-size: 0.8rem;
        background-color: #eeeeee;
        border: 1px solid #000000;
        border-radius: 0.25rem;
        transition: all 0.1s linear;
        cursor: pointer;
        opacity: 0.5;
    }
}