.secondaryButton{
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1rem 0rem;
    border: none;
    width: 100%;
    color: #eeeeee;
    background-color: #000000;
    box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
    transition: all 0.2s linear;
    cursor: pointer;
}
.secondaryButton:active{
    transform: scale(.95);
    transition: all 0.2s linear; 
}