.footer{
    padding-top: 5rem;
    .footer_div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 5rem;
        @media(max-width: 992px){
            flex-direction: column;
        }
    }
    .footer_brand{
        text-align: center;
        box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
        padding: 1rem;
        background-color: #000000;
        color: #eeeeee;
        font-weight: 700;
        font-size: 1rem;
        .footer_brand_p{
            color: #eeeeee;
            
        }
        .footer_brand_p_span{
            color: #b6332b;
            &:hover{
                animation: heartbeat 1.25s infinite;
            }
        }
        @keyframes heartbeat{
            0%{transform: scale(1);}
            20%{transform: scale(.75);}
            40%{transform: scale(1);}
            60%{transform: scale(.75);}
            80%{transform: scale(1);}
            100%{transform: scale(1);}
        }
        .footer_brand_p_a{
            color: #eeeeee;
            
        }
    }
    .footer_brand_div{
        text-align: center;
        padding-bottom: 1rem;
        background-color: #000000;
        color: #eeeeee;
        font-size: 0.8rem;
        .footer_brand_div_p_a{
            color: #ffffff;
            text-decoration: none;
            cursor: default;
        }
    }
}