.socials{
    display: flex;
    .socials_a{
        color: #000000;
        margin: 0rem 0.25rem;
        &:active{
            transform: scale(.95);
            transition: all .08s linear;
        }
    }
    .socials_a_span{
        font-size: 2rem;
    }
}