.topSellers{
    padding: 5rem 0rem;
    background-color: #eeeeee;
    .topSellers_h2{
        text-align: center;
        font-size: 1.5rem;
    }
    .topSellers_div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    .topSellers_button{
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
        button{
            justify-content: center;
            font-size: 0.8rem;
            background-color: none;
            border: 1px solid #000000;
            padding: 0.5rem 1rem;
            cursor: pointer;
        }
        button:active{
            transform: scale(.95);
        }
    }   
}

