.build_your_outfit{
    display: flex;
    align-items: flex-start;
    padding: 8rem 0rem 5rem 0rem;
    background-color: #eeeeee;
    min-height: 100vh;
    @media(max-width: 768px){
        flex-direction: column;  
        align-items: center;     
    }
    .products{
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;
        @media(max-width: 768px){
            width: 100%;   
            margin-bottom: 0rem;
            padding-bottom: 1rem;
            border-bottom: 0.1rem solid #ffffff;   
        }
        .products_div{
            display: flex;
            justify-content: center;
            @media(max-width: 576px){
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
            .products_div_button{
                font-size: 0.8rem;
                font-weight: 700;
                padding: 0.5rem 1rem;
                border: 0.1rem solid #000000;
                transition: all .15s linear; 
                margin: 0rem 0.5rem 1.5rem 0.5rem;
                z-index: 2;
                cursor: pointer;
                @media(max-width: 576px){
                    width: 40%;
                    margin: 0rem 0rem 1.5rem 0rem;
                }
                // &:hover{
                //     background-color: #000000;
                //     color: #ffffff;
                //     transition: all .15s linear; 
                //     box-shadow: 0px 15px 20px -3px rgba(0,0,0,0.1);
                // }
                &:active{
                    transform: scale(.95);
                    transition: all .1s linear;
                }
            }
            .selected{
                opacity: 0.5;
            }
        }
    }
    .outfit{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        @media(max-width: 768px){
            width: 100%;
        }
        .outfit_img{
            width: 14rem;
            @media(max-width: 992px) and (min-width: 768px){
                width: 12rem;
            }
        }
        .outfit_div{
            @media(max-width: 768px){
                width: 100%;
                display: flex;
                justify-content: center;
            }
            @media(max-width: 576px){
                flex-direction: column-reverse;
                align-items: center;
            }
        }
    }
}