.top_sellers {
  padding: 5rem 0rem;
  background: #eeeeee;
  .top_sellers_h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }
  .top_sellers_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background: #eeeeee;
    border-left: 0.12rem solid white;
    border-top: 0.12rem solid white;
  }
  .top_sellers_button {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
}
