.topSellers{
    padding: 5rem 0rem;
    background: #eeeeee;
    .topSellers_h2{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 5rem;
    }
    .topSellers_div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        background: #eeeeee;
        border-left: 0.12rem solid white;
        border-top: 0.12rem solid white;
    }
    .topSellers_button{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }   
}