.album{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    img{
        width: 8rem;
        margin-right: 1rem;
        box-shadow: 0 4px 10px -10px rgb(0 0 0 / 60%);
    }
    div{
        display: flex;
        flex-direction: column;
        text-align: left;
        h3{
            font-size: 0.8rem;
            color: #eeeeee;
            margin-bottom: 1rem;
            width: 10rem;
        }
        a{
            width: 4rem;
            button{
                color: #eeeeee; 
                font-weight: 700;
                padding: 0.5rem 1rem;
                background-color: #1db954;
                border-radius: 0.5rem;
                border: none;
                cursor: pointer;
            }
            button:active{
                transform: scale(.96);
            }
        }
    }
}