.shop{
    padding: 8rem 0rem 5rem 0rem;
    background-color: #eeeeee;
    .shop_div{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        border-top: 0.12rem solid #ffffff;
        border-left: 0.12rem solid #ffffff;
    }
}