.build_your_outfit {
  display: flex;
  align-items: flex-start;
  padding: 8rem 0rem 5rem 0rem;
  background-color: #eeeeee;
  min-height: 100vh;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
  .products {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 0rem;
      padding-bottom: 1rem;
      border-bottom: 0.1rem solid #ffffff;
    }
    .products_h2 {
      text-align: center;
      margin: auto;
      margin-bottom: 1.5rem;
      @media (max-width: 576px) {
        font-size: 0.8rem;
      }
    }
    .products_div {
      display: flex;
      justify-content: center;
      @media (max-width: 576px) {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
    }
  }
  .outfit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
    .outfit_div {
      @media (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      @media (max-width: 576px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
