.mainImages{
    display: flex;
    flex-direction: center;
    height: 85vh;
    @media(max-width: 992px){
        height: 65vh;
    }
    @media(max-width: 576px){
        height: 40vh;
    }
    h1{
        position: absolute;
        font-size: 20rem;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 85%;
        @media(max-width: 992px){
            font-size: 10rem;
            height: 65%;
        }
        @media(max-width: 576px){
            font-size: 5rem;
            height: 40%;
        }
    }
    img{
        width: 50%;
    }
    .right{
        position: absolute;
        width: 50%;
        height: 85%;
        background-color: black;
        opacity: 0.6;
        transition: opacity 0.4s linear;
        @media(max-width: 992px){
            height: 65%;
        }
        @media(max-width: 576px){
            height: 40%;
        }
    }
    .right:hover{
        opacity: 0;
        transition: opacity 0.4s linear;
    }
    .left{
        position: absolute;
        width: 50%;
        right: 0;
        height: 85%;
        background-color: black;
        opacity: 0.6;
        transition: opacity 0.4s linear;
        @media(max-width: 992px){
            height: 65%;
        }
        @media(max-width: 576px){
            height: 40%;
        }
    }
    .left:hover{
        opacity: 0;
        transition: opacity 0.4s linear;
    }
}