.nav{
    width: 35%;
    ul{
        list-style-type: none;
        display: flex;
        li{
            font-size: 0.8rem;
            padding:  1.5rem 1rem;
            cursor: pointer;
        }
        li:hover{
            text-decoration: underline;
        }
    }
}