.nav{
    width: 35%;
    ul{
        list-style-type: none;
        display: flex;
        li{
            // font-size: 0.8rem;
            // margin: 0rem 1rem;
            // cursor: pointer;
        }
        li:hover{
            text-decoration: underline;
        }
    }
}